html,
body {
    margin: 0;
    padding: 0;
    background-color: antiquewhite;
}

#wrap {
    margin: 0 auto;
    width: 70%;
}

header {
    font-family: sans-serif;
    font-size: 30px;
    color: dimgrey;
    padding: 10px;
}

nav {}

section {}

footer {}
