html,
body {
    margin: 0;
    padding: 0;
    background-color: beige;
}

#wrap {
    margin: 0 auto;
    width: 70%;
}

header {
    font-family: serif;
    color: cornflowerblue;
}

nav {}

section {}

figure {}

footer {}
